*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-header-nav{

}
.box-nav-partedx{

}
.box-nav-partesx{

}
.box-nav-menu{

}
.box-nav-fisso-sx{

}
.box-nav-fisso-dx{

}
.home{}

.home-text{}

.box-home-text-sx{
}
.box-pulsante-home-text{}

.immagine-sfondo-home{}

.box-perche-comprare{}

.imgcubo-testo{}

.img-cubo{}
